{#
gw2copilot/templates/live.html

The latest version of this package is available at:
<https://github.com/jantman/gw2copilot>

################################################################################
Copyright 2016 Jason Antman <jason@jasonantman.com> <http://www.jasonantman.com>

    This file is part of gw2copilot.

    gw2copilot is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    gw2copilot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with gw2copilot.  If not, see <http://www.gnu.org/licenses/>.

The Copyright and Authors attributions contained herein may not be removed or
otherwise altered, except to add the Author attribution of a contributor to
this work. (Additional Terms pursuant to Section 7b of the AGPL v3)
################################################################################
While not legally required, I sincerely request that anyone who finds
bugs please submit them at <https://github.com/jantman/gw2copilot> or
to me via email, and that you send any contributions or improvements
either as a pull request on GitHub, or to me via email.
################################################################################

AUTHORS:
Jason Antman <jason@jasonantman.com> <http://www.jasonantman.com>
################################################################################
#}
{% extends "base.html" %}
{% block title %}gw2copilot - live game data{% endblock %}
{% block extra_head_css %}
<!-- BEGIN block extra_head_css (live.html) -->
        <link rel="stylesheet" href="/static/css/leaflet-1.0.1.css">
        <link rel="stylesheet" href="/static/css/bootleaf.css">
        <link rel="stylesheet" href="/static/css/jquery.appendGrid-1.6.2.css">
<!-- END block extra_head_css (live.html) -->
{% endblock %}
{% block body %}
<!-- BEGIN block body (live.html) -->
    <div id="container">
{% include 'live-sidebar.html' %}
{% include 'live-edit-modal.html' %}

      <div id="map"></div>
    </div>
<!-- END block body (live.html) -->
{% endblock %}
{% block extra_foot_script %}
<!-- BEGIN block extra_foot_script (live.html) -->
<script type="text/javascript">
    var ws_port = {{ ws_port }};
</script>
<script src="/static/js/vendor/leaflet-1.0.1.js"></script>
<script src="/static/js/vendor/jquery.appendGrid-1.6.2.js"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/live_position.js"></script>
<script type="text/javascript">
    $(function () {
        $('#zoneRemindersTable').appendGrid({
            initRows: 1,
            columns: [
                { name: 'Zone', display: 'Zone', type: 'text', ctrlCss: { width: '100%' } },
                { name: 'Reminder Text', display: 'Reminder Text', type: 'text', ctrlCss: { width: '100%' } },
                { name: 'id', type: 'hidden', value: 0 }
            ],
            hideButtons: {
                removeLast: true,
                moveUp: true,
                moveDown: true
            },
            customGridButtons: {
                append: function() { return $('<button/>').attr({ type: 'button' }).append('<span class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span>', '<span class="ui-button-text"></span>'); },
                insert: function() { return $('<button/>').attr({ type: 'button' }).append('<span class="ui-button-icon-primary ui-icon ui-icon-arrowreturnthick-1-w"></span>', '<span class="ui-button-text"></span>'); },
                remove: function() { return $('<button/>').attr({ type: 'button' }).append('<span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>', '<span class="ui-button-text"></span>'); }
            }
        });
    });
</script>
<!-- END block extra_foot_script (live.html) -->
{% endblock %}
