{#
gw2copilot/templates/live-sidebar.html

The latest version of this package is available at:
<https://github.com/jantman/gw2copilot>

################################################################################
Copyright 2016 Jason Antman <jason@jasonantman.com> <http://www.jasonantman.com>

    This file is part of gw2copilot.

    gw2copilot is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    gw2copilot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with gw2copilot.  If not, see <http://www.gnu.org/licenses/>.

The Copyright and Authors attributions contained herein may not be removed or
otherwise altered, except to add the Author attribution of a contributor to
this work. (Additional Terms pursuant to Section 7b of the AGPL v3)
################################################################################
While not legally required, I sincerely request that anyone who finds
bugs please submit them at <https://github.com/jantman/gw2copilot> or
to me via email, and that you send any contributions or improvements
either as a pull request on GitHub, or to me via email.
################################################################################

AUTHORS:
Jason Antman <jason@jasonantman.com> <http://www.jasonantman.com>
################################################################################
#}
<!-- BEGIN live-sidebar.html -->
      <div id="sidebar">
        <div class="sidebar-wrapper">
          <div class="panel panel-default" id="features">
            <div class="panel-heading">
              <h3 class="panel-title"><span id="player_info_header"></span><br /><span id="map_info_header"></span></h3>
            </div> <!-- END div class="panel-heading" -->
            <div class="panel-body">
              <div class="list-group">
                  <p class="list-group-item active">Zone Reminders</p>
                  <p class="list-group-item" id="zoneRemindersListItem">
                      <span id="zone_reminder_span"></span>
                      <a href="javascript:handleEditReminders()">(edit reminders)</a>
                  </p>
              </div>
              <div class="list-group">
                  <p class="list-group-item active">Show/Hide Layers</p>
                  <p class="list-group-item">
                      <button type="button" class="btn btn-sm btn-success" id="btn_toggle_all">ALL</button><br />
                      <button type="button" class="btn btn-sm btn-success" id="btn_toggle_waypoints">Waypoints</button>
                      <button type="button" class="btn btn-sm btn-success" id="btn_toggle_hearts">Hearts</button>
                      <button type="button" class="btn btn-sm btn-success" id="btn_toggle_heropoints">Hero Points</button>
                      <button type="button" class="btn btn-sm btn-success" id="btn_toggle_POIs">POIs</button>
                      <button type="button" class="btn btn-sm btn-success" id="btn_toggle_vistas">Vistas</button>
                  </p>
              </div>
              <div class="list-group">
                  <p class="list-group-item active">Map Controls</p>
                  <p class="list-group-item"><button type="button" class="btn btn-sm btn-default" id="btn_center_player">Center On Player</button>&nbsp;<button type="button" class="btn btn-sm btn-danger" id="btn_follow_player">Follow</button></p>
                  <p class="list-group-item"><button type="button" class="btn btn-sm btn-default" id="btn_zoom_zone">Zoom to Player's Zone</button></p>
                  <p class="list-group-item"><button type="button" class="btn btn-sm btn-default" id="btn_zoom_player">Zoom to Player</button></p>
                  <p class="list-group-item"><button type="button" class="btn btn-sm btn-default" id="btn_zoom_world">Zoom to World</button></p>
              </div>
            </div> <!--END div class="panel-body" -->
          </div> <!-- END div class="panel panel-default" id="features" -->
        </div> <!-- END div class="sidebar-wrapper" -->
      </div> <!-- END div id="sidebar" -->
<!-- END live-sidebar.html -->